@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700&display=swap');


body{
    background-color: rgb(231, 179, 223); 
}
  
* {
 box-sizing: border-box;
 font-size: 14px;
 line-height: 16px;
 font-family: 'Roboto', sans-serif;
}

.container{
   
    width: 400px;
    
   
}

header{
    height: 80px;
    width: 400px;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05);
   z-index: 1;
   padding: 10px;
}

header ion-icon{
    width: 50px;
    height: 42px;
}

ul{
    background-color: #E5E5E5;
    height: 700px;
    width: 400px;
    padding-top: 100px;
    padding-bottom: 100px;
    overflow-y: scroll;
}

li{
    padding: 10px;
    background-color: #ffffff;
    margin-top: 3px;
    margin-bottom: 3px;
}

.status{
    background-color: #dcdcdc;
}

.private{
    background-color: #ffdede;
}

.time{
    color: #AAAAAA;
    font-size: 14px;
}

span{
    font-weight: bold;


}

footer{
    height: 80px;
    width: 400px;
    box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.05);
    background-color: #ffffff;
    display: flex;
    align-items: flex-start;
    
    justify-content: space-between;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 1;
    padding: 0 10px 0 10px;
    
}

.cx-texto{

    padding: 10px;
}

.cx-texto h2{
    font-size: 15px;
    color: #505050;
    margin-left: 10px;
}

footer input{
    background-color: #ffffff;
    border: none; 
    padding: 12px;
    width: 250px;
}

input::placeholder{
    font-size: 18px;
    font-style: italic;
    color: black;
}

footer img{
    margin-top: 20px;
    margin-right: 10px;
}





/*bunus começa aqui*/

.tela-login{
    background-color: white;
    height: 700px;
    width: 400px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.login{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tela-login img{
    width: 130px;
    height: 92px;
    margin-top: 72px;
}

.tela-login .usuario{
    margin-top: 120px;
    width: 261px;
    height: 54px;
    background: #FFFFFF;
    border: 1px solid #D7D7D7;
    border-radius: 4px;

}

.tela-login .carregando{
    height: 150px;
    width: 150px;
}

.usuario::placeholder{
    font-size: 18px;
    color: #AEAEAE;
    text-align: center;
}

.tela-login button{
    margin-top:50px ;
    width: 109px;
    height: 45px;
    font-size: 18px;
    line-height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #696969;

}

/*tela ativo comeca aqui*/

.tela-ativos{
    height: 700px;
    width: 400px;
    
    


   
}

.esquerda{
    background-color: rgba(0, 0, 0, 0.6);
    height: 700px;
    width: 100px;
    position: fixed;
    top:0;
    left: 0;
    z-index: 2;
  
}

.direita{
    background-color: #ffffff;
    height: 700px;
    width: 300px;
    position: fixed;
    top:0;
    left: 100px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    
    padding: 20px;
}

h1{
    font-size: 20px;
    font-weight: bolder;
    text-align: center;
    margin: 15px 0 15px;
}

.direita ion-icon{
    width: 30px;
    height: 30px;
}

.cx{
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.cx .ck{
    width: 20px;
    height: 20px;
    color: #FFFFFF;
    margin-top: 10px;

}

.ativo .ck{
    color: #28BB25;
    
}




.ativos, .tipo{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    margin-top: 20px;

}



p{
    font-size: 20px;
    margin-left: 5px;
    margin-bottom: 10px;
    margin-top: 10px;

}

.none{
    display: none;
}
